.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
  .container-fluid {
      padding: 0px 50px 30px 50px;
  }
  .bg-orange {
      background-color: #ffe0c0;
  }
  .openwebicons-small {
      color: #79ac2b;
      font-size: 60px;
      position: absolute;
      top: -0.25em;
      left: -0.5em;
      line-height: 1;
  }
  .glyphicons-empty {
      height: 3.4em;
  }
  .glyphicons-small {
      color: #79ac2b;
      font-size: 50px;
  }
  .glyphicons {
      color: #79ac2b;
      font-size: 200px;
  }

